<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	
	<bean id="discountServise" class="com.epam.spring.servises.DiscountService">
		<constructor-arg>
			<list>
				<bean class="com.epam.spring.calculating.BirthdayDiscountStrategy"/>
				<bean class="com.epam.spring.calculating.Every10thTicketDiscountStrategy"/>
			</list>
		</constructor-arg>	
	</bean>
</beans>